@media (min-device-width: 421px) {
    main {
        padding: 10px;
        min-height: calc(
                100vh - 20px - 120px - var(--footer-padding) * 2 - var(--footer-height)
        );
    }

    main {
        padding: 10px;
        min-height: calc(
                100vh - 20px - 120px - var(--footer-padding) * 2 - var(--footer-height)
        );
    }

    html {
        font-size: 5px;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 8rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    .margins {
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(21, 54, 96);
        justify-content: space-between;
    }

    .flex_header div nav a {
        padding: 1.5rem;
    }

    .flex_header div nav a img {
        background: #bfdafa;
        border-radius: 80px;
        padding: 5px;
        width: 25px;
    }

    .flex_header div nav a img:hover {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 9px;
    }

    .flex_login form, article{
        display: flex;
        flex-direction: column;
        align-items: center;
        wrap-option: wrap;
    }

    .backgroundImg{
        background-image: url("../media/images/purple_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 70px;
        padding-top: 30px;
    }

    .flex_signup form{
        display: flex;
        flex-direction: column;
        align-items: center;
        wrap-option: wrap;
    }

    .input_box input{
        font-size: 3rem;
        margin-bottom: 3rem;
        width: 30rem;
        box-shadow:5px 5px 10px rgba(48, 68, 94, 0.35);
        border-radius: 10px;
        padding-left: 20px;
    }

    .div_inline {
        display: inline-block;
        padding: 20px;
    }

    .flex_profile {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .indexInput {
        padding-left: 20px;
    }

    .buttonLogIn {
        background: #0d213a;
        border-radius: 999px;
        box-shadow: #0d213a 0 10px 20px -10px;
        box-sizing: border-box;
        color: #E8EEFFFF;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 4rem;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 15px 25px;
        user-select: none;
        touch-action: manipulation;
        border: 0;
    }

    .buttonLogIn:hover {
        background: #E8EEFFFF;
        color: #0d213a;
    }

    .buttonSignUp {
        background: rgb(168, 190, 218);
        border-radius: 999px;
        box-shadow: rgb(168, 190, 218) 0 10px 20px -10px;
        box-sizing: border-box;
        color: #15263a;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 4rem;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 15px 25px;
        user-select: none;
        touch-action: manipulation;
        border: 0;
    }

    .buttonSignUp:hover {
        background: rgb(21, 38, 58);
        color: rgb(168, 190, 218);
    }

    footer {
        background: #0c2341;
    }

    .flex_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inlineNav div{
        display: inline-block;
        margin-right: 4rem;
    }

    .inlineNav div h4 {
        margin-left: 9rem;
        font-size: 2.5rem;
    }

    .inlineNav div nav a h5{
        font-size: 2rem;
    }

    .inlineNav a:hover{
        text-decoration: underline;
        text-decoration-color: #338f8f;
    }

    .bkgFriends {
        background-image: url("../media/images/friends_bkg.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 70px;
        padding-top: 50px;
        width: 900px;
    }

    .bkgEvents {
        background-image: url("../media/images/events_bkg.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 70px;
        padding-top: 50px;
        width: 900px;
    }

    .friendsHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #c6d6ea;
        background: #0c2341;
        max-width: 70rem;
    }

    .flex_home article {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .flex_bkg_home div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home_title {
        margin-left: 96rem;
        font-size: 5rem;
    }

    .searchBox:focus {
        width: 700px;
    }

    .logout_profile {
        color: darkred;
        padding: 1rem;
    }

    .logout_profile:hover {
        color: whitesmoke;
        background-color: darkred;
        padding: 1rem;
        border-radius: 50rem;
    }

    .profile_round {
        border-radius: 50rem;
        width: 25rem;
    }

    .searchBox {
        margin-top: 25px;
        width: 500px;
        box-sizing: border-box;
        border: 1px solid #395c8a;
        border-radius: 4px;
        background-color: white;
        background-image: url('../media/images/icons/search_icon.png');
        background-position: 2px;
        background-size: 30px;
        background-repeat: no-repeat;
        padding: 15px 20px 15px 40px;
        transition: width 0.5s ease-in-out;
        font-size: 2.2rem;
    }

    .searchBox:focus {
        width: 600px;
    }

    .searchImage {
        width: 50%;
        height: auto;
    }


    .flex_profile_info {
        width: 70rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .profile_info_theme h3 {
        padding: 1.2rem;
    }

    .profile_info_theme_input h3 {
        color: #0c2341;
        border: solid 0.2rem #5b5a5a;
        padding: 1rem;
        border-radius: 1rem;
        font-weight: lighter;
    }

    .done_profile {
        color: darkred;
        padding: 1rem;
    }

    .done_profile:hover {
        color: whitesmoke;
        background-color: darkred;
        border-radius: 5rem;
    }

    .flex_edit_buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 18rem;
    }

    .edit_profile_link {
        color: black;
    }

    .edit_profile_img {
        width: 5rem;
    }

}
