:root {
    --footer-height: 50px;
    --footer-padding: 10px;
}

body {
    margin: 0;
}

* {
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
}

main {
    padding: 10px;
    min-height: calc(
            100vh - 20px - 120px - var(--footer-padding) * 2 - var(--footer-height)
    );
}

#title {
    color: #bfdafa;
    text-shadow: 5px 5px 2px #395c8a, 10px 10px 3px #19457e, 35px 23px 12px #0d213a;
}

a {
    color: white;
    text-decoration: none;
}

@media (max-device-width: 420px) {

    html {
        font-size: 15px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
        color: white;
    }

    h5 {
        font-size: 1.5rem;
        color: white;
    }

    .flex_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(21, 54, 96);
        padding-bottom: 3rem;
    }

    .flex_header div nav a {
        padding: 2rem;
    }

    .flex_header div nav a img {
        background: #bfdafa;
        border-radius: 80px;
        padding: 10px;
        width: 70px;
    }

    .flex_header div nav a img:hover {
        border-radius: 100px;
    }

    .flex_index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex_login form{
        display: flex;
        flex-direction: column;
        align-items: center;
        wrap-option: wrap;
    }

    .backgroundImg{
        background-image: url("../media/images/index_bckg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .flex_signup form{
        display: flex;
        flex-direction: column;
        align-items: center;
        wrap-option: wrap;
    }

    .input_box {
        font-size: 3rem;
        margin-bottom: 3rem;
        width: 30rem;
    }

    .buttons {
       background: #5E5DF0;
       border-radius: 999px;
       box-shadow: #5E5DF0 0 10px 20px -10px;
       box-sizing: border-box;
       color: #FFFFFF;
       font-size: 2.5rem;
       font-weight: 700;
       line-height: 4rem;
       opacity: 1;
       outline: 0 solid transparent;
       padding: 15px 25px;
       user-select: none;
       touch-action: manipulation;
       border: 0;
    }

    .buttons:hover {
        background: #FFFFFF;
        color: #5E5DF0;
    }

    footer {
        background: #0c2341;
    }

    .flex_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inlineNav div{
        display: inline-block;
        margin-right: 4rem;

    }

    .inlineNav div h4 {
        margin-left: 9rem;
    }

    .inlineNav a{
        color: lightgray;
        text-decoration: none;
    }

    .inlineNav a:hover{
        text-decoration: underline;
        text-decoration-color: #0c2341;
    }

}
